.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .searchInput {
    margin-bottom: 1rem;
    width: 300px;
  }
  
  .gamesContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .gameItem {
    cursor: pointer;
    margin: 10px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    transition: transform 0.3s;
  }
  
  .gameItem:hover {
    transform: scale(1.1);
  }
  
  .gameImage {
    transform: scale(1);
    transition: transform 0.3s;
  }